//dark shades of the primary color
$primary-0: hsl(170, 60%, 21%);
$primary-1: hsl(170, 60%, 29%);
$primary-2: hsl(170, 60%, 37%);
$primary-3: hsl(170, 60%, 45%);
$primary-4: hsl(170, 60%, 52%); //primary color
$primary-5: hsl(170, 60%, 60%);
$primary-6: hsl(170, 60%, 67%);
$primary-7: hsl(170, 60%, 74%);
$primary-8: hsl(170, 60%, 81%);
$primary-9: hsl(170, 60%, 88%);
//light shades of the primary color

//dark shades of the secondary color
$secondary-0: hsl(280, 80%, 21%);
$secondary-1: hsl(280, 80%, 29%);
$secondary-2: hsl(280, 80%, 37%);
$secondary-3: hsl(280, 80%, 45%);
$secondary-4: hsl(280, 80%, 52%); //secondary color
$secondary-5: hsl(280, 80%, 60%);
$secondary-6: hsl(280, 80%, 67%);
$secondary-7: hsl(280, 80%, 74%);
$secondary-8: hsl(280, 80%, 81%);
$secondary-9: hsl(280, 80%, 88%);
//light shades of the secondary color

//dark shades of the grey color
$grey-0: hsl(210, 40%, 21%);
$grey-1: hsl(210, 40%, 29%);
$grey-2: hsl(210, 20%, 37%);
$grey-3: hsl(210, 20%, 45%);
$grey-4: hsl(210, 20%, 52%); //grey color
$grey-5: hsl(210, 20%, 60%);
$grey-6: hsl(210, 20%, 67%);
$grey-7: hsl(210, 20%, 74%);
$grey-8: hsl(210, 20%, 81%);
$grey-9: hsl(210, 20%, 88%);
//light shades of the grey color

//Misc. colors
$white: #fff;
$black: #222;
$red-dark: hsl(0, 80%, 44%);
$red-light: hsl(0, 66%, 66%);
$green-dark: hsl(125, 80%, 44%);
$green-light: hsl(125, 66%, 66%);
